<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title></title>

  <!-- Bootstrap core CSS -->
  <link href={{ url_for('static', filename="vendor/bootstrap/css/bootstrap.min.css") }} rel="stylesheet">

  <!-- Custom fonts -->
  <link href={{ url_for('static', filename="vendor/fontawesome-free/css/all.min.css") }} rel="stylesheet">

  <link href={{ url_for('static', filename="vendor/simple-line-icons/css/simple-line-icons.css") }} rel="stylesheet" type="text/css">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href={{ url_for('static', filename="css/landing-page.min.css") }} rel="stylesheet">

  {% block css %}

  {% endblock %}



</head>

<style>

  .features-icons {
    padding-top: 1rem;
    padding-bottom: 7rem;}

</style>




<body>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Sign up our newsletter for monthly digest. No spam, once a month only</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form method="POST">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                 <input type="email" class="form-control form-control-lg" name="email" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                 <button type="submit" class="btn btn-block btn-lg btn-primary" id="submit">Tune in!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>



  <!-- Bootstrap core JavaScript -->
  <script src={{ url_for('static', filename="vendor/jquery/jquery.min.js") }}></script>

  <script src={{ url_for('static', filename="vendor/bootstrap/js/bootstrap.bundle.min.js") }}></script>

  <script src={{ url_for('static', filename="alert.js") }}></script>


</body>

</html>
